$bg: #e5e5e5;
$global: #6b6b6c;
$black: #363738;
$green: #0b7572;
$yellow: #ffce50;
$grey: #e9e9ec;


$xl: 1200;
$lg: 990;
$lgg: 850;
$md: 720;
$sm: 540;
$s: 400;

$PTSans: 'PTSans', sans-serif;
$Exo2: 'Exo2', sans-serif;



